---
import type { GetStaticPathsItem } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';

import MainLayout from '$/layouts/MainLayout.astro';
import Breadcrumbs from '$/components/Breadcrumbs.astro';
import { filterPostsCollection, postSlugToURL, sortPostsCollection } from '$/utils/helpers';

type GetStaticPathsResult = Omit<GetStaticPathsItem, 'props'> & {
	props: { posts: CollectionEntry<'posts'>[] };
};

export async function getStaticPaths(): Promise<GetStaticPathsResult[]> {
	const blogEntries = await getCollection('posts', filterPostsCollection);
	sortPostsCollection(blogEntries);

	const groupedPosts = blogEntries.reduce<Record<string, CollectionEntry<'posts'>[]>>(
		(grouped, post) => {
			const tags = post.data.tags;

			tags.forEach((tag) => {
				if (!Array.isArray(grouped[tag])) {
					grouped[tag] = [];
				}

				grouped[tag]!.push(post);
			});

			return grouped;
		},
		{},
	);

	return Object.entries(groupedPosts).map(([tag, posts]) => {
		return {
			params: { tag },
			props: { posts },
		};
	});
}

const { tag } = Astro.params as { tag: string };
const { posts } = Astro.props as { posts: CollectionEntry<'posts'>[] };
---

<MainLayout title={`Tag: ${tag}`} description={`List of all posts tagged with ${tag}`}>
	<div class="posts-list">
		<Breadcrumbs
			links={[
				{ label: 'tags', link: '/tags/' },
				{ label: tag, link: '' },
			]}
		/>
		<h1 set:html={`All posts tagged with "${tag}"`} />
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={postSlugToURL(post.slug)} set:html={post.data.title} />
					</li>
				))
			}
		</ul>
	</div>
</MainLayout>
<style lang="scss">
	.posts-list {
		a {
			display: block;
			margin-bottom: 1rem;
			text-decoration: none;
		}
	}
</style>
