---
import { getCollection } from 'astro:content';

import { SOCIAL_LINKS } from '$/site-config';
import MainLayout from '$/layouts/MainLayout.astro';
import myPic from '$/images/profile_pic.jpg';
import ArticlePreview from '$/components/ArticlePreview.astro';
import { filterPostsCollection, sortPostsCollection } from '$/utils/helpers';

const allPosts = await getCollection('posts', filterPostsCollection);
sortPostsCollection(allPosts);

const sortedPosts = allPosts.slice(0, 5);
const followLinks = SOCIAL_LINKS.filter((l) => l.follow);
---

<MainLayout title="" description="">
	<main class="container">
		<div class="intro-section row">
			<div class="profile-pic-container col-xl-5">
				<figure class="profile-pic-figure">
					<img class="profile-pic" src={myPic.src} alt="profile-pic" />
					<div class="planetary-animation" aria-hidden="true">
						<div class="orbit orbit-1">
							<div class="dot dot-1"></div>
							<div class="dot dot-2"></div>
						</div>
						<div class="orbit orbit-2">
							<div class="dot dot-3"></div>
							<div class="dot dot-4"></div>
							<div class="dot dot-5"></div>
						</div>
					</div>
				</figure>
			</div>
			<section class="intro-container col-xl-7">
				<h1 class="title">Hello, I am Vivek</h1>
				<p class="intro-content">
					I <span class="text-primary">❤</span> building stuff using web technologies. I'm a huge
					car nerd and Formula 1 fan.
				</p>
				<p class="social">
					<span>Follow:&nbsp;</span>
					{
						followLinks.map((social) => {
							return (
								<a href={social.link} title={social.name} target="_blank" rel="noopener noreferrer">
									<img
										class:list={[
											'image',
											{ 'is-32x32': social.name === 'npm', 'is-24x24': social.name !== 'npm' },
										]}
										alt={social.name}
										src={social.img?.src}
									/>
								</a>
							);
						})
					}
				</p>
			</section>
		</div>
		<section class="recent-posts">
			<h2 class="h4">Latest from Blog</h2>
			{
				sortedPosts.map((post) => {
					return <ArticlePreview post={post} />;
				})
			}
		</section>
	</main>
</MainLayout>

<style lang="scss">
	@use 'sass:math';

	.title {
		font-size: 4rem;
	}

	.intro-content {
		font-size: 1.5rem;
		margin: 0;
	}

	.intro-section {
		padding: 8rem 0;
		margin-bottom: 2rem;
	}

	.profile-pic-container {
		text-align: center;
	}

	.intro-container {
		position: relative;
		z-index: 2;
	}

	.profile-pic-figure {
		position: relative;
		display: inline-block;
		// width: max-content;
		margin: 0 auto;
	}

	.planetary-animation {
		height: 1px;
		width: 100%;
	}

	.profile-pic {
		display: inline-block;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		z-index: 2;
	}

	.orbit {
		position: absolute;
		border: 2px dashed var(--border-light);
		border-radius: 50%;
		left: 50%;
		aspect-ratio: 1;
		top: 50%;
		transform: translate(-50%, -50%);
		background: transparent;
		z-index: 1;
		animation: spin 400s linear infinite;
		transform-origin: center center;

		&.orbit-1 {
			width: 140%;
		}

		&.orbit-2 {
			width: 190%;
			animation-duration: 350s;
		}
	}

	.dot {
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		border-radius: 50%;
		filter: blur(4px);
		opacity: 0.9;
	}

	@function dot_top($angle) {
		@return (1 + math.sin($angle)) * 50%;
	}

	@function dot_left($angle) {
		@return (1 - math.cos($angle)) * 50%;
	}

	.dot-1 {
		background-color: #ffe268;
		top: dot_top(0deg);
		left: dot_left(0deg);
		transform: translate(-50%, -50%);
	}

	.dot-2 {
		background-color: #ff005c;
		top: dot_top(210deg);
		left: dot_left(210deg);
		transform: translate(-50%, -50%) scale(1.5);
	}

	.dot-3 {
		background-color: #ffab73;
		top: dot_top(30deg);
		left: dot_left(30deg);
		transform: translate(-50%, -50%) scale(1.2);
	}

	.dot-4 {
		background-color: #4a47a3;
		top: dot_top(120deg);
		left: dot_left(120deg);
		transform: translate(-50%, -50%) scale(2);
	}

	.dot-5 {
		background-color: #80abff;
		top: dot_top(270deg);
		left: dot_left(270deg);
		transform: translate(-50%, -50%);
	}

	@keyframes spin {
		from {
			transform: translate(-50%, -50%) rotate(0deg);
		}

		to {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}

	.recent-posts {
		max-width: var(--max-post-width);
		margin: 0 auto;
	}
</style>
