---
import type { MyPostInstance } from 'utils/types';
import { format, parseISO } from 'date-fns';
import folder from 'images/folder.svg?raw';

export interface Props {
	post: MyPostInstance;
}

const { post } = Astro.props as Props;
const formattedDate = format(parseISO(post.frontmatter.date), ' do MMMM yyyy');
---

<div class="article-preview">
	<h2 class="h3">
		<a class="link" href={post.url} set:html={post.frontmatter.title}></a>
	</h2>
	<p class="date">{formattedDate}</p>
	<p class="post-description">
		<a class="link" href={post.url} set:html={post.frontmatter.description}></a>
	</p>
	<p class="tags">
		<a href="/tags/" title="tags" class="folder" set:html={folder}></a>
		{post.frontmatter.tags.map((tag) => (
			<a href={`/tags/${tag}`} title={`tag: ${tag}`} class="tag" set:html={tag} />
		))}
	</p>
</div>

<style lang="scss">
	.article-preview {
		border-bottom: 1px solid var(--border);
		padding: 2rem 0;
		max-width: var(--max-post-width);
		margin: 0 auto;

		h2 {
			margin-top: 1rem;
		}

		&:last-child {
			border-bottom: none;
		}

		.link {
			text-decoration: none;
		}

		.date {
			color: var(--text-light);
			font-size: 0.85rem;
		}

		.tags {
			display: inline-flex;
			align-items: center;
			font-size: 0.85rem;
			color: var(--text-light);

			& .folder > :global(svg) {
				width: 0.8rem;
				height: 0.8rem;
				margin-right: 0.5rem;
			}

			a {
				display: inline-flex;
				align-items: center;
				text-decoration: none;
				color: var(--text-light);

				&.tag:not(:last-child) {
					margin-right: 0.5em;
					&::after {
						content: ',';
					}
				}
			}
		}
	}
</style>
