---
import type { CollectionEntry } from 'astro:content';

import dayjs from 'dayjs';
import readingTime from 'reading-time';

import { AUTHOR } from '$/site-config';
import { postSlugToURL } from '$/utils/helpers';

import Tags from './Tags.astro';

export interface Props {
	post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const formattedDate = dayjs(post.data.date).format('MMMM DD, YYYY');
const readingStats = readingTime(post.body ?? '');
---

<div class="article-preview">
	<h2 class="h3" transition:name={`post:${post.id}`}>
		<a class="link" href={postSlugToURL(post.id)} set:html={post.data.title} />
	</h2>
	<div class="metadata" transition:name={`metadata:${post.id}`}>
		<p class="author">{AUTHOR.name}</p>
		<p>{formattedDate}</p>
		<p>{readingStats.text}</p>
	</div>
	<p class="post-description">
		<a class="link" href={postSlugToURL(post.id)} set:html={post.data.description} />
	</p>
	<Tags transition:name={`tags:${post.id}`} tags={post.data.tags} />
</div>

<style lang="scss">
	.article-preview {
		border-bottom: 1px solid var(--border);
		padding: 2rem 0;
		max-width: var(--max-post-width);
		margin: 0 auto;

		h2 {
			margin-top: 1rem;
		}

		&:last-child {
			border-bottom: none;
		}

		.link {
			text-decoration: none;
		}

		.metadata {
			display: flex;
			color: var(--text-light);
			font-size: 0.85rem;
			gap: 0.5em;

			& > p {
				display: flex;
				align-items: center;
				margin: 0;
				gap: 0.5em;

				&:not(:last-child)::after {
					content: '';
					display: block;
					width: 0.25em;
					height: 0.25em;
					background-color: currentColor;
					border-radius: 50%;
				}
			}
		}

		& :global(.tags) {
			transform: scale(0.85);
			transform-origin: left center;
		}
	}
</style>
